{% extends "profile/base.html" %}

{% block profilecontent %}

<h2>Profiles</h2>

{% if profiles %}

<table class="profiles">
<tr><th>Name</th><th>Architecture</th><th>Description</th></tr>
{% for profile in profiles %}
<tr><td><a href="{% url gerobak.apps.profile.views.show profile.pid %}">{{ profile.name }}</a></td>
    <td>{{ profile.arch }}</td>
    <td>{{ profile.desc }}</td>
</tr>
{% endfor %}
</table>

{% else %}

<p>You have to add a profile first!</p>
<p>A profile represents a machine. Use a separate profile for each machine you
have.</p>

{% endif %}

<div class="add">
<h3>Add New Profile</h3>
<form method="post">
{{ form.as_p }}
<p><input type="submit" value="Add Profile"/></p>
</form>
</div>

{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/profile-index.css"/>
{% if not profiles %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_name').focus();
});
</script>
{% endif %}
{% endblock %}

