{% extends "profile/base.html" %}

{% block profilecontent %}

{% if messages %}
<div class="msg ui-widget"><div class="ui-state-error ui-corner-all">
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</div></div>
{% endif %}

<div id="side">
<div class="title">
<h2>{{ profile.name }}</h2>
{% if profile.desc %}
<p>&ndash; {{ profile.desc }}</p>
{% endif %}
</div>

<fieldset id="status" class="sideblock">
    <legend>Status File</legend>
    {% if profile.status_updated %}
    <p><span class="label">Last update:</span> {{ profile.status_updated|date:"j M y H:i" }}</p>
    {% else %}
    <p><span class="label">Last update:</span> Never</p>
    {% endif %}
    <p><span class="label">Size:</span> {{ profile.status_size|default_if_none:"Unknown" }}</p>
    <p><span class="label">MD5 Hash:</span> <code class="md5">{{ profile.status_hash|default_if_none:"Unknown" }}</code></p>
    <p class="cmd"><button onclick="show_dialog('#dialog-status-upload')">upload status file</button></p>
    <p class="cmd"><button onclick="show_dialog('#dialog-status-predefined')">use prefedined status file</button></p>
</fieldset>

<fieldset id="sources" class="sideblock">
    <legend>Software Sources</legend>
    {% if profile.sources_updated %}
    <p><span class="label">Last update:</span> {{ profile.sources_updated|date:"j M y H:i" }}</p>
    {% else %}
    <p><span class="label">Last update:</span> Never</p>
    {% endif %}
    <p><span class="label">Total:</span> {{ profile.sources_total|default_if_none:"0" }}</p>
    <p class="cmd"><button onclick="show_dialog('#dialog-sources')">view/edit sources</button></p>
</fieldset>

<fieldset id="update" class="sideblock">
    <legend>Update Repository</legend>
    {% if profile.repo_updated %}
    <p><span class="label">Last update:</span> {{ profile.repo_updated|date:"j M y H:i" }}</p>
    {% else %}
    <p><span class="label">Last update:</span> Never</p>
    {% endif %}
    <form method="post" action="update/">
    <p class="cmd"><input type="submit" value="Update Repository"/></p>
    </form>
</fieldset>

</div>

<div id="center">

<div class="tabs">
    <ul>
    <li><a href="#search">Search</a></li>
    <li><a href="#install">Install</a></li>
    <li><a href="#upgrade">Upgrade</a></li>
    </ul>
    <div id="search">
        <form method="post" action="search/" onsubmit="profile.search.start(this); return false;">
        <p><label for="id_packages">Packages:</label>
            {{ search.packages }}
            <input type="submit" value="search"/>
        </p>
        </form>
        <div id="search-result"></div>
    </div>
    <div id="install">
        <form onsubmit="profile.install.add_form(); return false;">
        <p><label>Package:</label> <input type="text" id="install-package-add"/> 
        <input type="submit" value="add"/> 
        <input type="button" value="clear" onclick="profile.install.clear()"/></p>
        </form>
        <ul id="install-package-list"></ul>
        <div id="install-package-button"><input type="button" value="install" onclick="profile.install.start()"/></div>
        <div id="install-result"></div>
    </div>
    <div id="upgrade">
        <form method="post" action="upgrade/" onsubmit="profile.upgrade.start(); return false;">
        <input type="submit" value="upgrade"/>
        </form>
        
        <form method="post" action="dist-upgrade/" onsubmit="profile.dist_upgrade.start(); return false;">
        <input type="submit" value="dist-upgrade"/>
        </form>
        <div id="upgrade-result"></div>
    </div>
</div>

</div> <!-- end: center -->

<div class="dialog" id="dialog-status-upload" title="Upload Status File">
<p>This file is located at <code>/var/lib/dpkg/status</code> in your
machine.</p> 
<p>You can upload the gzip (<code>.gz</code>) or bzip2 (<code>.bz2</code>)
compressed file.</p>
<form method="post" action="status/" enctype="multipart/form-data">
{{ upload.as_p }}
<p><input type="submit" value="Upload"/></p>
</form>
</div>

<div class="dialog" id="dialog-status-predefined" title="Use Predefined Status File">
predefined status file
</div>

<div class="dialog" id="dialog-sources" title="Software Sources">
<p>Write your sources list as written in <code>/etc/apt/sources.list</code></p>
<form method="post" action="sources/">
{{ sources.sources }}
<p><input type="submit" value="Update"/></p>
</form>
</div>

<div class="dialog" id="dialog-package-show" title="Package Information">
    <p class="desc">short description</p>
    <pre class="desc">longer
description</pre>
    <table></table>
</div>

{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/profile.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    profile.init();
});
</script>
{% endblock %}
