{% extends "profile/base.html" %}

{% block profilecontent %}

{% if messages %}
<div class="msg ui-widget"><div class="ui-state-error ui-corner-all">
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</div></div>
{% endif %}

<div class="title">
<h2>{{ profile.name }}</h2>
{% if profile.desc %}
<p>&ndash; {{ profile.desc }}</p>
{% endif %}
</div>

<div class="tabs">
    <ul>
    <li><a href="#settings">Status</a></li>
    {% if profile.repo_updated %}
    <li><a href="#search">Search</a></li>
    <li><a href="#install">Install</a></li>
    <li><a href="#upgrade">Upgrade</a></li>
    {% endif %}
    </ul>
    <div id="settings">

        <div id="status" class="block">
            <h3>Status File</h3>
            <div>
            {% if profile.status_updated %}
            <p><span class="label">Last update:</span> {{ profile.status_updated|date:"j M y H:i" }}</p>
            {% else %}
            <p><span class="label">Last update:</span> Never</p>
            {% endif %}
            <p><span class="label">Size:</span> {{ profile.status_size|default_if_none:"Unknown" }}</p>
            <p><span class="label">MD5 Hash:</span> <code class="md5">{{ profile.status_hash|default_if_none:"Unknown" }}</code></p>
            <p class="cmd"><span onclick="show_dialog('#dialog-status-upload')">upload status file</span>
                <!--
                <span onclick="show_dialog('#dialog-status-predefined')">use prefedined status file</span>
                -->
            </p>
            </div>
        </div>
        
        <div id="sources" class="block">
            <h3>Software Sources</h3>
            <div>
            {% if profile.sources_updated %}
            <p><span class="label">Last update:</span> {{ profile.sources_updated|date:"j M y H:i" }}</p>
            {% else %}
            <p><span class="label">Last update:</span> Never</p>
            {% endif %}
            <p><span class="label">Total:</span> {{ profile.sources_total|default_if_none:"0" }}</p>
            <p class="cmd"><span onclick="show_dialog('#dialog-sources')">view/edit sources</span></p>
            </div>
        </div>
        
        <div id="update" class="block">
            <h3>Update Repository</h3>
            <div>
            {% if profile.repo_updated %}
            <p><span class="label">Last update:</span> {{ profile.repo_updated|date:"j M y H:i" }}</p>
            {% else %}
            <p><span class="label">Last update:</span> Never</p>
            {% endif %}
            <form method="post" action="update/" onsubmit="profile.update.start(); return false;">
            {% if profile.tid_update %}
            <p class="cmd"><input type="submit" value="Update Repository" disabled="disabled"/></p>
            {% else %}
            <p class="cmd"><input type="submit" value="Update Repository"/></p>
            {% endif %}
            </form>
            </div>
        </div>

    </div>
    {% if profile.repo_updated %}
    <div id="search">
        <form method="post" action="search/" onsubmit="profile.search.start(this); return false;">
        <p><label for="id_packages">Keyword:</label>
            {{ search.packages }}
            <input type="submit" value="search"/>
        </p>
        </form>
        <div id="search-result"></div>
    </div>
    <div id="install">
        <form onsubmit="profile.install.add_form(); return false;">
        <div><label>Add package:</label> 
            <div><input type="text" id="install-package-add"/> 
            <input type="submit" value="add"/> 
            <input type="button" value="clear" onclick="profile.install.clear()"/>
            </div>
        </div>
        </form>
        <div id="install-package-list"><p>Packages: </p><ul></ul></div>
        <div id="install-package-button"><input type="button" value="install" onclick="profile.install.start()"/></div>
        <div id="install-result"></div>
    </div>
    <div id="upgrade">
        <form method="post" action="upgrade/" onsubmit="profile.upgrade.start(); return false;">
        <input type="submit" value="upgrade"/>
        </form>
        
        <form method="post" action="dist-upgrade/" onsubmit="profile.dist_upgrade.start(); return false;">
        <input type="submit" value="dist-upgrade"/>
        </form>
        <div id="upgrade-result"></div>
    </div>
    {% endif %}
</div>

<div class="dialog" id="dialog-status-upload" title="Upload Status File">
<p>This file is located at <code>/var/lib/dpkg/status</code> in your
machine.</p> 
<p>You can also upload the 
    gzip (<code>.gz</code>) or bzip2 (<code>.bz2</code>) 
    compressed version of the file.</p>
<form method="post" action="status/" enctype="multipart/form-data" onsubmit="profile.status.start(this);">
{{ upload.as_p }}
<p><input type="submit" value="Upload"/></p>
</form>
</div>

<div class="dialog" id="dialog-status-predefined" title="Use Predefined Status File">
predefined status file
</div>

<div class="dialog" id="dialog-sources" title="Software Sources">
<p>Write your sources list as written in <code>/etc/apt/sources.list</code></p>
<form method="post" action="sources/">
{{ sources.sources }}
<p><input type="submit" value="Update"/></p>
</form>
</div>

<div class="dialog" id="dialog-package-show" title="Package Information">
</div>

{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/profile.css"/>
<script type="text/javascript" src="/media/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="/media/profile.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    profile.init();
    {% if profile.tid_update %}
    profile.update.check('{{ profile.tid_update }}');
    {% endif %}
    ZeroClipboard.setMoviePath('/media/zeroclipboard/ZeroClipboard.swf');
});
</script>
{% endblock %}
