body {
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 12px;
    margin: 0px;
}
html {
    background: #F0E9E2;
}

br.clear {
    clear: both;
}

#header {
    padding: 10px;
    background: #383A3B;
}
#title h1, #title p {
    display: inline;
    margin: 0px;
    color: white;
}
#title h1 {
    font-size: 24px;
    font-family: "Trebuchet MS", sans-serif;
}
#title h1 a {
    text-decoration: none;
    color: inherit;
}
#login {
    float: right;
    padding-top: 10px;
    font-size: 11px;
    color: white;
}
#login a {
    color: #aaa;
}

#content {
    clear: both;
    padding: 20px;
}
#content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
#content p {
    margin-bottom: 5px;
}

.ui-widget-overlay {
    position: fixed;
}

/*= Login Page =*/

#content .login form label {
    float: left;
    width: 70px;
    text-align: right;
    padding-top: 2px;
}
#content .login form {
    text-align: right;
    width: 230px;
}
#content .login form input[type="text"],
#content .login form input[type="password"] {
    width: 150px;
    padding: 2px;
}
#content .login form > p + p + p {
    text-align: right;
}
#content .login .error {
    color: red;
    margin-bottom: 15px;
}

/*

#content div.msg {
    margin-bottom: 20px;
}
#content div.msg ul {
    margin: 10px;
}
#content div.msg ul li {
    margin-left: 20px;
    list-style: disc;
}

.profile .title h2, .profile .title p {
    display: inline;
}

.profile .status {
    border: 1px solid black;
}

.profile .sources {
    border: 1px solid black;
}

.profile .update {
    border: 1px solid black;
}

.profile fieldset.sideblock {
    border-top: 1px dotted #888;
    padding: 5px;
    width: 200px;
    font-size: 11px;
    margin-top: 15px;
}
.profile fieldset.sideblock legend {
    font-weight: bold;
    color: #444;
}
.profile fieldset.sideblock span.label {
    font-weight: bold;
}
.profile fieldset#status.sideblock label {
    display: block;
    font-weight: bold;
}
.profile fieldset#status.sideblock code.md5 {
    font-size: 10px;
    display: block;
}
.profile fieldset.sideblock p.cmd {
    text-align: center;
}
.profile fieldset.sideblock p.cmd button {
    border: 0px;
    background: #ED4262;
    cursor: pointer;
    color: white;

    background: #F0E9E2;
    color: black;
    text-decoration: underline;
}

.profile #side {
    position: fixed;
}
.profile #center {
    margin-left: 230px;
}

.profile .dialog {
    display: none;
}
.dialog p {
    margin-bottom: 10px;
}

#dialog-sources textarea {
    width: 470px;
    padding: 5px;
    margin-bottom: 10px;
}

.profile table.search {
    margin-top: 20px;
}
.profile table.search td {
    font-size: 13px;
    padding: 2px 10px;
}
.profile table.search tr:nth-child(odd) {
    background: #ddd;
}
.profile table.search tr:hover {
    background: #F7E66B;
}
.profile table.search td:first-child {
    text-align: right;
    font-size: 10px;
}
.profile table.search th {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background: #aaa;
    padding: 3px;
}
.profile table.search td:first-child + td,
.profile table.search td:first-child + td + td {
    padding-right: 20px;
}
.profile table.search td:first-child + td + td + td {
    font-size: 10px;
}
.profile table.search td:first-child + td + td + td span {
    cursor: pointer;
}

#install form label {
    float: left;
    width: 65px;
    text-align: right;
    padding-right: 5px;
}
.install-result .side {
    float: right;
    width: 200px;
    margin-left: 20px;
}
.install-result .side .pkgs p span {
    cursor: pointer;
}
.install-result .side .pkgs p span:hover {
    text-decoration: underline;
}
.install-result h3 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}
.install-result .side .pkgs {
    margin-bottom: 15px;
}

*/
