<html><head>
<title>{% block title %}Gerobak{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"/>
<link rel="stylesheet" type="text/css" href="/media/style.css"></link>
<script type="text/javascript" src="/media/jquery.js"></script>
<script type="text/javascript" src="/media/gerobak.js"></script>
{% block extrahead %}{% endblock %}
</head><body>

<div id="header">

<div id="login">
{% if user.is_authenticated %}
<p>Welcome, <strong>{{ user.username }}</strong>! 
    <a href="/accounts/password/">Change Password</a> /
    <a href="/accounts/logout/">Logout</a>
</p>
{% else %}
<p><a href="/accounts/login/">Login</a></p>
{% endif %}
</div>

<div id="title">
{% if user.is_authenticated %}
<h1><a href="/p/">Gerobak</a></h1>
{% else %}
<h1><a href="/">Gerobak</a></h1>
{% endif %}
<p>&ndash; bukan apt-web kaleee!</p>
</div>
</div>

<div id="content">
{% block content %}{% endblock %}
</div>

</body></html>
